.datePicker{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.live{
}
.live::after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    background-color: red;
    border-radius: 15px;
}
